body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: #FFC2C3;
  background: white;
  overflow-x: hidden;
}

h1 {
  margin-top: 0;
  text-align: center;
  display: inline;
}

h5 {
  color: #67777B
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
}

.spacer {
  aspect-ratio: 960/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  display: flex;
  align-items: center;
  background-image:url('../public/pattern.svg');
}

.attribution {
  margin-top: 0;
  margin-right: 45px;
  font-size: 6px;
  color: #FFC2C3;
  float:right
}

/* unvisited link */
a:link {
  color: #FFC2C3;
}

/* visited link */
a:visited {
  color: #FFC2C3;
}

/* mouse over link */
a:hover {
  color: #FFC2C3;
}

/* selected link */
a:active {
  color: #FFC2C3;
}

.pink {
  background: #FFC2C3
}
.white {
  background: #FFFFFF
}
.black {
  background: #37474B
}

.s0 { fill: #ffd2d3 }
.s1 { fill: #b46a3d }
.s2 { fill: #972d07 }
.s3 { fill: #ffb20f }
.s4 { fill: #000040 }
.s5 { fill: #ffffff }
.s6 { fill: #17272c }
.s7 { fill: #c47a4d }
.s8 { fill: #ffc000 }
.s9 { fill: #ffc2c3 }
.s10 { fill: #fefefe }
.s11 { fill: #76a1e5 }
.s12 { fill: none;stroke: #a53d2d }